name: dx_router
description: A new Flutter package project.
version: 1.0.0
homepage:

environment:
  sdk: ">=2.19.0-255.0.dev <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
